<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511681288498-9p9lid1chgsd2tik4jbefoerk3stiq7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511681288498-9p9lid1chgsd2tik4jbefoerk3stiq7e</string>
	<key>API_KEY</key>
	<string>AIzaSyBvcSyzcH1hLp0RIGD6XfUfelLPZEyu9JY</string>
	<key>GCM_SENDER_ID</key>
	<string>511681288498</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xmlApp.MoneyManageApp</string>
	<key>PROJECT_ID</key>
	<string>moneymanageapp-49025</string>
	<key>STORAGE_BUCKET</key>
	<string>moneymanageapp-49025.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511681288498:ios:575b33ed77b0ea9d7ddf2b</string>
	<key>DATABASE_URL</key>
	<string>https://moneymanageapp-49025.firebaseio.com</string>
</dict>
</plist>